<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Account</title>
</head>
<body>
<div class="page-wrapper">
    <div class="profile-wrapper">
        <img src="{{ picture_url }}" alt="Profile Picture">
        <h1 class="username">{{ username }}</h1>
        <div class="match-stats-wrapper">
            <div>
                <p style="">Matches</p>
                <p style="text-align: center">10</p>
            </div>
            <div>
                <p>Wins</p>
                <p style="text-align: center">10</p>
            </div>
            <div>
                <p>Losses</p>
                <p style="text-align: center">10</p>
            </div>
        </div>
        <p>Pending Friend Requests ({{ pend_friends | length }})</p>
        {% for pend_friend in pend_friends %}
            <div>
                <br>
                <p id="pend-friend-{{ forloop.counter0 }}" style="display: inline">{{ pend_friend }}</p>
                <button class="{{ pend_friend }}/" id="accept-btn">Accept</button>
                <button class="{{ pend_friend }}/" id="decline-btn">Decline</button>
                <br>
            </div>
        {% endfor %}
        <br>
        <p>Friends ({{ friends | length }}):</p>
        {% for friend in friends %}
            <p>{{ friend }}</p>
        {% endfor %}
        <br>
        <p>Want to add some friends?</p>
        <input id="friend-text-field" type="text"><br>
        <button id="add-friend-btn">Send Friend Request</button><br>
        {% if hide_form is not True %}
            <p>Want to update your username?</p><br>
            <form method="post" action="{% url 'account' %}">
                {% csrf_token %}
                <label for="new_username">New username:</label><br>
                <input type="text" id="new_username" name="new_username" required><br><br>
                <button type="submit">Change Username</button>
            </form>
        {% endif %}

        {% if msg %}
            <p>{{ msg }}</p>
        {% endif %}
    </div>
</div>
{% load static %}
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>
