<h1>Welcome to Pong {{ username }}</h1>
<p>Wins: {{ wins }}</p>
<p>Losses: {{ losses }}</p>
<img alt="avatar" src="{{ avatar }}"/>

<ul>
	{% for match in matches %}
		<li>
			{{ match }} <br>
		</li>
	{% empty %}
		<li>No matches found for this user.</li>
	{% endfor %}
</ul>

Pending Friend Requests ({{ pend_friends | length }})
{% for pend_friend in pend_friends %}
    <div>
        <br>
            <p id="pend-friend-{{ forloop.counter0 }}" style="display: inline">{{ pend_friend }}</p>
            <button class="{{ pend_friend }}/" id="accept-btn">Accept</button>
            <button class="{{ pend_friend }}/" id="decline-btn">Decline</button>
        <br>
    </div>
{% endfor %}
<br>
Friends ({{ friends | length }}):
{% for friend in friends %}
    <p>{{ friend }}</p>
{% endfor %}
<br>

Want to add some friends?
<input id="friend-text-field" type="text"><br><br>
<button id="add-friend-btn">Send Friend Request</button>

{% if hide_form is not True %}
<p>Want to update your username?</p>
<form method="post" action="{% url 'account' %}">
	{% csrf_token %}
	<label for="new_username">New username:</label><br>
	<input type="text" id="new_username" name="new_username" required><br><br>
	<button type="submit">Change Username</button>
</form>
{% endif %}

{% if msg %}
<p>{{ msg }}</p>
{% endif %}

{% load static %}
<script src="{% static 'index.js' %}"></script>
