{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<form id="formContainer">
	<div class="mb-3">
		<label for="email" class="form-label">Email</label>
		<input type="email" class="form-control" id="email_input" name="email" aria-describedby="emailHelp">
	</div>
	<div class="mb-3">
		<label for="password" class="form-label">Password</label>
		<input type="password" class="form-control" id="pass_input" name="password">
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
