<h2>Register</h2>
<form method="post" action="{% url 'register' %}">
	{% csrf_token %}
	{% if error %}
		<p> {{ err_msg }} </p>
		<label for="username">Username:</label><br>
		<input type="text" id="username" name="username" required value="{{ username }}"><br><br>

		<label for="password">Password: </label><br>
		<input type="text" id="password" name="password" required value="{{ password }}"><br><br>
	{% else %}
		<label for="username">Username:</label><br>
		<input type="text" id="username" name="username" required><br><br>

		<label for="password">Password: </label><br>
		<input type="text" id="password" name="password" required><br><br>
	{% endif %}
	<button type="submit">Register</button>
</form>
