<div class="container-fluid" id="home-page">
	<h1>HOME PAGE</h1>
	{% if err_msg %}
		<p>{{ err_msg }}</p>
	{% endif %}
	<form id="form-game">
		{% csrf_token %}
		Select game:
		<label for="pong">Pong</label>
		<input type="radio" id="pong" name="game" value="pong" required/>
		<label for="jankenpon">JanKenPon</label>
		<input type="radio" id="jankenpon" name="game" value="jkp" required/>

		<br/>

		Select mode:
		<label for="pvp">PvP</label>
		<input type="radio" id="pvp" name="mode" value="pvp" required/>
		<label for="tournament">Tournament</label>
		<input type="radio" id="tournament" name="mode" value="tournament" required/>
		<label for="pve">PvE</label>
		<input type="radio" id="pve" name="mode" value="pve" required/>

		<br/>

		<div id="players"></div>

		<button id="startGame" type="submit" disabled>Start</button>
	</form>
	{% if error %}
		<p>{{ error_msg }}</p>
	{% endif %}
</div>
