<div id="jkp-game-page" class="CENTRALIZA" style="background-image: linear-gradient(to right, #009dff 50%, yellow 33%); height: 100%;">
	<div id="game-info" style="display: none;">
		{% include "components/game-info.html" %}
	</div>
	<div id="game-canvas" style="display: none;">
		{% include "components/scoreboard.html" %}
		<div class="d-flex justify-content-center align-items-center" style="height: 50vh; width: 50vw; margin-left: 25vw;">
			<canvas id="jogo" width="400" height="400" style="height: 80vh; margin-top: 30vh;"></canvas>
		</div>
	</div>
	<script id="script-game">
		GAME_MODE = "{{ game_mode }}";
		PLAYER1 = "{{ player1 }}";
		PLAYER2 = "{{ player2 }}";
		BRACKET = "{{ bracket }}";
		WINNER = ""
	</script>
</div>
