/* body { */
/* 	text-align: center; */
/* 	align-items: center; */
/* 	background-color: floralwhite; */
/* } */
/**/
.container {
	margin: 25px;
	justify-content: center;
	align-items: center;
}

#board {
	background-color: black;
	border-top: 10px solid blueviolet;
	border-bottom: 10px solid blueviolet;
}
