html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
}
/*  {
    margin: 0 0 0 4px;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: #FFFFFF;
    background-color: #000000;
}

input, button {
    background-color: #FFFFFF !important;
    color: #000000 !important;
}

.page-wrapper {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    object-fit: cover;
    object-position: top center;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 16px 0;
}

.match-stats-wrapper {
    display: flex;
    margin: 16px 0;
    width: 100%;
    justify-content: space-between;
}

.navbar-light {
    background-color: #f1f1f1 !important;
}

.nav-link {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: #ffffff !important;
}

.nav-link:hover {
    background-color: #77f388 !important;
} */