<div class="d-flex justify-content-center align-items-center" style="color: orangered; margin-bottom: 1vh; margin-top: 1vh; font-family: '60s Scoreboard', sans-serif;">
	<h1 class="d-flex justify-content-start overflow-x-auto shadow  bg-dark rounded" style="height: 6vh; width: 20vw; margin-right: 5vw; margin-left: 20vw;">{{player1}}</h1>
	<h1 class="container shadow-sm  bg-dark rounded" style="height: 6vh; width: fit-content;" id="scoreboard">0x0</h1>
	<h1 class="d-flex justify-content-end overflow-x-auto shadow  bg-dark rounded" style="height: 6vh; width: 20vw; margin-left: 5vw; margin-right: 20vw;">{{player2}}</h1>
</div>